.views-field.views-field-uid {
  clear: left;
}

.views-field.views-field-field-head-image {
  float: left;
}

.views-field-field-years-available .field-content {
  display: inline;
}	

.views-field-field-head-description.field-content {
  display: inline;
}	
